src/TP/TP1/Server/Files/user_database.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="utilizadores">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="utilizador" maxOccurs="unbounded"
					minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="username" />
							<xs:element type="xs:string" name="password_hash" />
							<xs:element type="xs:string" name="user_salt" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>